version: "3.9"

services:
  db:
    image: postgres:15
    container_name: postgres-db
    environment:
      POSTGRES_DB: prueba-tecnica
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    build:
      context: ./backend
    container_name: backend-proyectos
    env_file:
      - ./backend/.env
    environment:
      DB_HOST: db  
      NODE_ENV: production
    ports:
      - "3000:3000"
    depends_on:
      - db

  frontend:
    build:
      context: ./frontend
    container_name: frontend-proyectos
    ports:
      - "5173:80"
    depends_on:
      - backend

volumes:
  pgdata:
